{% extends "layout.html" %} {% block heading %} {% endblock %} {% block body %}
<div class="jumbotron jumbotron-fluid" id="homepage_Banner">
  <h1>Weather is All Around Us</h1>
  <p>Find your weather today</p>
  <p><a class="btn btn-primary btn-lg" href="/register" role="button">Get Started</a></p>
</div>
<br></br>

<div id="homepage_Content">
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src=a lt="weather">
        <div class="caption">
          <h3>label</h3>
          <p>body</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src=a lt="weather">
        <div class="caption">
          <h3>label</h3>
          <p>body</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src=a lt="weather">
        <div class="caption">
          <h3>label</h3>
          <p>body</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
