{% extends "layout.html" %} {% block heading %} {% endblock %} {% block body %}
<div class="row">
  <br>
</div>
<div class="jumbotron jumbotron-fluid" id="homepage_Banner">
  <h1 id="jumbotronContent">Weather is All Around Us</h1>
  <p id="jumbotronContent">Find your weather today</p>
  <p id="jumbotronContent"><a class="btn btn-primary btn-lg" href="/register" role="button">Get Started</a></p>
</div>
<br></br>

<div id="homepage_Content">
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://pixfeeds.com/images/14/388569/1200-497100312-cumulus-clouds.jpg" lt="weather">
        <div class="caption">
          <h3>Discover the Weather</h3>
          <p>Weather is driven by air pressure, temperature and moisture differences between one place and another.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://images.pexels.com/photos/158163/clouds-cloudporn-weather-lookup-158163.jpeg" lt="weather">
        <div class="caption">
          <h3>Comment on the Weather</h3>
          <p>You can leave comments to let people know you thoughts on weather</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://i.ytimg.com/vi/BQxBh-Oen1w/maxresdefault.jpg" lt="weather">
        <div class="caption">
          <h3>Be the Weather</h3>
          <p>Truley inhabit the Weather and gain immortality. Mankind's end is at hand</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
