{% extends "layout.html" %} {% block body %}
<div class="row">
  <div class="col-sm-8" id="registrationColumn">
    <form action='/register' method="post">
      {{ form.username.label }}: {{ form.username(placeholder='username') }}
      <br>
      {{ form.password1.label }}: {{ form.password1 }}
      <br>
      {{ form.password2.label }}: {{ form.password2 }}
      <br>
      {{ form.submit }}
      {{ form.csrf_token }}
    </form>
  </div>
  <div class="col-sm-4">
  </div>
</div>
{% endblock %}
