{% extends "layout.html" %} {% block heading %} {% endblock %} {% block body %}
<div class="row">
  <div class="col-sm-8" id="registrationColumn">
    <form action="" method="post" novalidate id="registrationForm">
      {{ form.hidden_tag() }}
      <p>
        {{ form.username.label }}<br> {{ form.username(size=32) }}
      </p>
      <p>
        {{ form.password.label }}<br> {{ form.password(size=32) }}
      </p>
      <p> {{ form.submit() }}
      </p>
    </form>
  </div>
  <div class="col-sm-4">
  </div>
</div>
{% endblock %}
